div.typing-notifications {
	position: sticky;
	bottom: 0;
	min-block-size: 1.6rem;
	padding-block: .25rem;
	padding-inline: 1.6rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 0.9rem;
	box-shadow: 0 0 1rem var(--background-color);

	background-color: var(--background-color);
	&.empty {
		--background-color: transparent;
	}

	> div.avatars {
		display: flex;
		align-items: center;
		margin-left: 0.35rem;

		> img {
			margin-left: -0.35rem;
		}
	}
}
